<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<!-- HEAD -->
</head>

<body>
	<header>
		<div class="container-fluid">
			<h1><%= require('./assets/webpack_icon.svg') %> <%= htmlWebpackPlugin.options.title %></h1>
		</div>
	</header>

	<main>
		<div class="container">
			<!-- BODY -->
		</div>
	</main>

	<footer>
		<div class="container">
			<p>FOOTER</p>
		</div>
	</footer>

	<!-- FOOTER -->
</body>

</html>
